<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="m_json-2.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <h2>Quiz</h2>
    <div id="app">
        <div v-for="item in dataArray" :key="item.title">
            <my-quiz :object="item"></my-quiz>
        </div>
        <br>
        <button v-if="show" @click="answerQuestion">정답 제출하기</button>
        <br>
        <p v-if="showResult">총 득점: {{ score }}</p>
        <p><input type="file" @change="loadData"></p>
    </div>
    
    <script>
        var MyQuiz = {
            props: ['object'],
            template:   `<div style="width: 600px; backgroundColor: #ffddaa;">
                            <p style="backgroundColor: #ffa95e;">
                                문제 {{ object.no }}. {{ object.question }} (배점: {{ object.point }})
                            </p>
                            <label><input type="radio" v-model="object.user_answer" value="true"> O &nbsp;</label>
                            <label><input type="radio" v-model="object.user_answer" value="false"> X</label>
                        </div>`
        }
        new Vue({
            el: '#app',
            data: {
                dataArray: [],
                show: false,
                showResult: false,
                score: 0
            },
            components: {
                'my-quiz': MyQuiz
            },
            methods: {
                loadData: function(e) {
                    file = e.target.files[0]
                    if (file) {
                        var reader = new FileReader()
                        var vm = this; 
                        reader.onload = function(e){
                            vm.dataArray = JSON.parse(e.target.result);
                        }
                        reader.readAsText(file);
                        this.show = true;
                    }
                },
                answerQuestion: function() {
                    var score = 0;
                    for(var i = 0 ; i < this.dataArray.length ; i ++) {
                        if(this.dataArray[i].user_answer == this.dataArray[i].answer) {
                            score += this.dataArray[i].point;
                        }
                    }
                    this.score = score;
                    this.showResult = true;
                }
            }
        })
    </script>
</body>
</html>